
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Ation", "Controller", FormMethod.Post))
{
    <div>
        <p>Name: @Html.TextBox("name")</p><br />
        <p>Username: @Html.TextBox("username")</p><br />
        <p>Password: @Html.Password("password")</p><br />
        <p>
            Gender:
            @Html.RadioButton("gender", "Male") Male
            @Html.RadioButton("gender", "Femal") Female<br>
        </p>
        <p>
            Interest:
            @Html.CheckBox("swim", "swim") swim
            @Html.CheckBox("read", "read") read
            @Html.CheckBox("movie", "movie") See a movie<br>
        </p>
        <p>
            Self introduction:
            @Html.TextArea("Self_introduction")

        </p>

        <input type="submit" name="submit" value="送出" /> <input type="reset" name="重置" value="重置" />
    </div>
}